@media screen and (width: 1200px) {
  html {
    font-size: 100px;
    min-width: 100%;
  }
}

@media screen and (min-width: 899px) {
  html {
    font-size: 74.96339678px !important;
  }
}

@media screen and (min-width: 1124px) {
  html {
    font-size: 93.70424597px !important;
  }
}

@media screen and (min-width: 1200px) {
  html {
    font-size: 100px !important;
  }
}

@media screen and (min-width: 1265px) {
  html {
    font-size: 105.41727672px !important;
  }
}

@media screen and (min-width: 1405px) {
  html {
    font-size: 117.13030747px !important
  }
}

@media screen and (min-width: 1686px) {
  html {
    font-size: 140.55636897px !important;
  }
}

@media screen and (min-width: 3373px) {
  html {
    font-size: 281.11273792px !important;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: arial,microsoft yahei,simsun,simhei,sans-serif;
  font-size: 0.14rem;
}

.catalog {
  float: left;
  /*width: 20%;*/
  width: 2.34rem;
  height: calc(100% - 0.48rem);
  border-right: 1px solid #d1d8e0;
  background-color: #f8f8fb;
  box-sizing: border-box;
  overflow: auto;
}

.container {
  border: 1px solid #E1DFDA;
  border-top: 2px solid #024A84;
  overflow: hidden;
  padding: 0;
  width: 100%;
}

.crumbs {
  background: url(../../img/crumbs_bg.png) no-repeat left center;
  color: #A39F99;
  line-height: 0.46rem;
  padding-left: 0.24rem;
}

.crumbs span { color: #333; }
.crumbs span.home{
  color: #A39F99;
  cursor: pointer;
}
.list {
  float: left;
  width: calc(100% - 2.34rem);
}

.sub-crumbs {
  color: #A39F99;
  line-height: 0.46rem;
  padding-left: 15px;
}

.sub-crumbs span { color: #333; }


#form{
  box-shadow: 0px 5px 5px 0px
  rgba(225, 225, 225, 0.75);
  padding-bottom: 0.15rem;
}
#form::after{
  content:".";
  display:block;
  height:0;
  clear:both;
  visibility:hidden;
}

.table-container{
  padding: 0.1rem 0.23rem 0 0.23rem;
  box-sizing: border-box;
}

.src-tree-nav{
  height: 0.59rem !important;
  background: #f8f8fb;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  padding:0;
  margin: 0 0 7px;
}
.src-tree-nav > li {
  width: 100%;
  height: 0.59rem;
  text-align: center;
  border-bottom: solid 1px #d1d8e0;
  background: #F8F8FB;

}
.src-tree-nav > li > a{
color: #333 !important;
  padding:0;
  margin:0;
  height: 0.59rem;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  user-select: none;
}
.src-tree-nav > li.active > a,
.src-tree-nav > li.active > a:active,
.src-tree-nav > li.active > a:focus{
  background-color: #245399;
  border-radius: 0;
  color: #ffffff !important;
  position: relative;
}

.src-tree-nav > li.active::before{
  content:"";
  position: absolute;
  left: 50%;
  margin-left: -0.05rem;
  bottom: -0.14rem;
  width: 0;
  height: 0;
  border:0.07rem solid transparent;
  border-top-color: #245399 ;
}

.tab-content{
  padding:0 0.24rem 0 0.2rem;
}
.tab-pane > li{
  height: auto;
  min-height: 0.55rem;
  border-bottom: 1px solid #e0e0e0;
  line-height: 0.55rem;

}
.tab-pane > li  > a{
  color: #333333;
  font-weight: bold;


  box-sizing: border-box;
}
.tab-pane  li  a{
  padding-left: 0.36rem;
  display: block;
}
.tab-pane  li:focus{
  outline: none;
}
.tab-pane > li  ul  li{
  min-height: 0.3rem;
  line-height: 0.3rem;
  font-size: 0.16rem;
  color: #515762;
  padding-left: 0.1rem !important;
}
.tab-pane > li  ul  li .center_open + a{
  color: #F15028;
}
.tab-pane > li  ul  li .curSelectedNode{
  color: #F15028;
}
.tab-pane > li > ul > li a {
  font-size: 0.14rem;
  font-weight: normal;
  color: #515762;
  padding-left: 0.36rem;

}

.tab-pane  li  ul  a span {
  position: relative;
}
.tab-pane  li  ul a span:before{
  content: "";
  position: absolute;
  left:-0.08rem;
  top:50%;
  margin-top: -0.02rem;
  width: 0.02rem;
  height: 0.02rem;
  border-radius: 100%;
  background: #515762;

}
.tab-pane > li  ul  li .center_open + a span:before{
  background: #F15028;
}
.tab-pane > li  ul  li .curSelectedNode span:before{
  background: #F15028;
}

  /*.catalog-src{*/
/*  float: left;*/
/*  !*width: 20%;*!*/
/*  width: 2.34rem;*/
/*  height: calc(100% - 0.48rem);*/
/*  border-right: 1px solid #d1d8e0;*/
/*  background-color: #f8f8fb;*/
/*  box-sizing: border-box;*/
/*}*/
/*.catalog-src-tab{*/
/*  width: 100%;*/
/*  height: 0.59rem !important;*/
/*  background: #f8f8fb;*/
/*  display: flex;*/
/*  flex-flow: row nowrap;*/
/*  justify-content: flex-start;*/
/*  align-items: center;*/
/*  padding:0;*/
/*  margin: 0 0 7px;*/
/*}*/
/*.catalog-src-tab-item{*/
/*  width: 100%;*/
/*  height: 0.59rem;*/
/*  text-align: center;*/
/*  border-bottom: solid 1px #d1d8e0;*/
/*  background: #F8F8FB;*/
/*  display: flex;*/
/*  justify-content: center;*/
/*  align-items: center;*/
/*  color: #333;*/
/*  cursor: pointer;*/
/*  user-select: none;*/
/*}*/


/*.catalog-src-tab-item-active{*/
/*  background-color: #245399;*/
/*  border-radius: 0;*/
/*  color: #ffffff !important;*/
/*  position: relative;*/
/*}*/
/*.catalog-src-tab-item-active::before{*/
/*  content:"";*/
/*  position: absolute;*/
/*  left: 50%;*/
/*  margin-left: -0.05rem;*/
/*  bottom: -0.14rem;*/
/*  width: 0;*/
/*  height: 0;*/
/*  border:0.07rem solid transparent;*/
/*  border-top-color: #245399 ;*/
/*}*/

/*.catalog-src-tab-content{*/
/*  height: auto;*/
/*  padding:0 0.24rem 0 0.2rem;*/
/*  box-sizing: border-box;*/
/*  overflow: scroll;*/
/*}*/
/*.catalog-src-tab-content-item{*/
/*  list-style: none;*/
/*  display: none;*/
/*}*/
/*.catalog-src-tab-content-item > li {*/
/*  width: 100%;*/
/*  height: auto;*/
/*  min-height: 0.55rem;*/
/*  border-bottom: 1px solid #e0e0e0;*/
/*  display: flex;*/
/*  flex-flow: column;*/
/*  justify-content: flex-start;*/
/*  align-items: center;*/
/*  color: #333333;*/
/*  font-weight: bold;*/
/*}*/
/*.catalog-src-tab-content-item > li > a{*/
/*  width: 100%;*/
/*  min-height: 0.55rem;*/
/*  display: flex;*/
/*  align-items: center;*/
/*  color: #333333;*/
/*  font-weight: bold;*/
/*  padding-left: 0.36rem;*/
/*  box-sizing: border-box;*/
/*  user-select: none;*/
/*}*/
#industry > li:nth-of-type(1) > a{
  background: url("./img/src01.png") no-repeat left center transparent;
  -webkit-background-size: 0.3rem 0.3rem;
  background-size: 0.3rem 0.3rem;
}

#industry > li:nth-of-type(2) > a{
  background: url("./img/src02.png") no-repeat left center transparent;
  -webkit-background-size: 0.3rem 0.3rem;
  background-size: 0.3rem 0.3rem;
}

#industry > li:nth-of-type(3) > a{
  background: url("./img/src03.png") no-repeat left center transparent;
  -webkit-background-size: 0.3rem 0.3rem;
  background-size: 0.3rem 0.3rem;
}

#industry > li:nth-of-type(4) > a{
  background: url("./img/src04.png") no-repeat left center transparent;
  -webkit-background-size: 0.3rem 0.3rem;
  background-size: 0.3rem 0.3rem;
}

#industry > li:nth-of-type(5) > a{
  background: url("./img/src05.png") no-repeat left center transparent;
  -webkit-background-size: 0.3rem 0.3rem;
  background-size: 0.3rem 0.3rem;
}

#industry > li:nth-of-type(6) > a{
  background: url("./img/src06.png") no-repeat left center transparent;
  -webkit-background-size: 0.3rem 0.3rem;
  background-size: 0.3rem 0.3rem;
}

#industry > li:nth-of-type(7) >a{
  background: url("./img/src07.png") no-repeat left center transparent;
  -webkit-background-size: 0.3rem 0.3rem;
  background-size: 0.3rem 0.3rem;
}

#industry > li:nth-of-type(8) > a{
  background: url("./img/src08.png") no-repeat left center transparent;
  -webkit-background-size: 0.3rem 0.3rem;
  background-size: 0.3rem 0.3rem;
}

#industry > li:nth-of-type(1) > .roots_open + a,
#industry > li:nth-of-type(1) > .center_open + a{
  background: url("./img/src01_active.png") no-repeat left center transparent;
  -webkit-background-size: 0.3rem 0.3rem;
  background-size: 0.3rem 0.3rem;  filter: drop-shadow(0px 10px 10px rgba(230, 133, 95, 0.36))
}
#industry > li:nth-of-type(2) > .roots_open + a,
#industry > li:nth-of-type(2) > .center_open + a{
  background: url("./img/src02_active.png") no-repeat left center transparent;
  -webkit-background-size: 0.3rem 0.3rem;
  background-size: 0.3rem 0.3rem;  filter: drop-shadow(0px 10px 10px rgba(230, 133, 95, 0.36))
}
#industry > li:nth-of-type(3) >.roots_open + a,
#industry > li:nth-of-type(3) >.center_open + a{
  background: url("./img/src03_active.png") no-repeat left center transparent;
  -webkit-background-size: 0.3rem 0.3rem;
  background-size: 0.3rem 0.3rem;  filter: drop-shadow(0px 10px 10px rgba(230, 133, 95, 0.36))
}
#industry > li:nth-of-type(4) >.roots_open + a,
#industry > li:nth-of-type(4) >.center_open + a{
  background: url("./img/src04_active.png") no-repeat left center transparent;
  -webkit-background-size: 0.3rem 0.3rem;
  background-size: 0.3rem 0.3rem;  filter: drop-shadow(0px 10px 10px rgba(230, 133, 95, 0.36))
}
#industry > li:nth-of-type(5) > .roots_open + a,
#industry > li:nth-of-type(5) > .center_open + a{
  background: url("./img/src05_active.png") no-repeat left center transparent;
  -webkit-background-size: 0.3rem 0.3rem;
  background-size: 0.3rem 0.3rem;  filter: drop-shadow(0px 10px 10px rgba(230, 133, 95, 0.36))
}
#industry > li:nth-of-type(6) > .roots_open + a,
#industry > li:nth-of-type(6) > .center_open + a{
  background: url("./img/src06_active.png") no-repeat left center transparent;
  -webkit-background-size: 0.3rem 0.3rem;
  background-size: 0.3rem 0.3rem;  filter: drop-shadow(0px 10px 10px rgba(230, 133, 95, 0.36))
}
#industry > li:nth-of-type(7) > .roots_open + a,
#industry > li:nth-of-type(7) > .center_open + a{
  background: url("./img/src07_active.png") no-repeat left center transparent;
  -webkit-background-size: 0.3rem 0.3rem;
  background-size: 0.3rem 0.3rem;  filter: drop-shadow(0px 10px 10px rgba(230, 133, 95, 0.36))
}
#industry > li:nth-of-type(8) >.roots_open + a,
#industry > li:nth-of-type(8) >.bottom_open + a,
#industry > li:nth-of-type(8) >.center_open + a{
  background: url("./img/src08_active.png") no-repeat left center transparent;
  -webkit-background-size: 0.3rem 0.3rem;
  background-size: 0.3rem 0.3rem;  filter: drop-shadow(0px 10px 10px rgba(230, 133, 95, 0.36))
}
















#index > li:nth-of-type(1) > a{
  background: url("./img/index01.png") no-repeat left center transparent;
  -webkit-background-size: 0.3rem 0.3rem;
  background-size: 0.3rem 0.3rem;
}

#index > li:nth-of-type(2) > a{
  background: url("./img/index02.png") no-repeat left center transparent;
  -webkit-background-size: 0.3rem 0.3rem;
  background-size: 0.3rem 0.3rem;
}

#index > li:nth-of-type(3) > a{
  background: url("./img/index03.png") no-repeat left center transparent;
  -webkit-background-size: 0.3rem 0.3rem;
  background-size: 0.3rem 0.3rem;
}

#index > li:nth-of-type(4) > a{
  background: url("./img/index04.png") no-repeat left center transparent;
  -webkit-background-size: 0.3rem 0.3rem;
  background-size: 0.3rem 0.3rem;
}

#index > li:nth-of-type(5) > a{
  background: url("./img/index05.png") no-repeat left center transparent;
  -webkit-background-size: 0.3rem 0.3rem;
  background-size: 0.3rem 0.3rem;
}

#index > li:nth-of-type(6) > a{
  background: url("./img/index06.png") no-repeat left center transparent;
  -webkit-background-size: 0.3rem 0.3rem;
  background-size: 0.3rem 0.3rem;
}

#index > li:nth-of-type(7) >a{
  background: url("./img/index07.png") no-repeat left center transparent;
  -webkit-background-size: 0.3rem 0.3rem;
  background-size: 0.3rem 0.3rem;
}


#index > li:nth-of-type(1) > .roots_open + a,
#index > li:nth-of-type(1) > .center_open + a{
  background: url("./img/index01_active.png") no-repeat left center transparent;
  -webkit-background-size: 0.3rem 0.3rem;
  background-size: 0.3rem 0.3rem;
  filter: drop-shadow(0px 10px 10px rgba(230, 133, 95, 0.36))
}
#index > li:nth-of-type(2) > .roots_open + a,
#index > li:nth-of-type(2) > .center_open + a{
  background: url("./img/index02_active.png") no-repeat left center transparent;
  -webkit-background-size: 0.3rem 0.3rem;
  background-size: 0.3rem 0.3rem;
  filter: drop-shadow(0px 10px 10px rgba(230, 133, 95, 0.36))
}
#index > li:nth-of-type(3) >.roots_open + a,
#index > li:nth-of-type(3) >.center_open + a{
  background: url("./img/index03_active.png") no-repeat left center transparent;
  -webkit-background-size: 0.3rem 0.3rem;
  background-size: 0.3rem 0.3rem;
  filter: drop-shadow(0px 10px 10px rgba(230, 133, 95, 0.36))
}
#index > li:nth-of-type(4) >.roots_open + a,
#index > li:nth-of-type(4) >.center_open + a{
  background: url("./img/index04_active.png") no-repeat left center transparent;
  -webkit-background-size: 0.3rem 0.3rem;
  background-size: 0.3rem 0.3rem;
  filter: drop-shadow(0px 10px 10px rgba(230, 133, 95, 0.36))
}
#index > li:nth-of-type(5) > .roots_open + a,
#index > li:nth-of-type(5) > .center_open + a{
  background: url("./img/index05_active.png") no-repeat left center transparent;
  -webkit-background-size: 0.3rem 0.3rem;
  background-size: 0.3rem 0.3rem;
  filter: drop-shadow(0px 10px 10px rgba(230, 133, 95, 0.36))
}
#index > li:nth-of-type(6) > .roots_open + a,
#index > li:nth-of-type(6) > .center_open + a{
  background: url("./img/index06_active.png") no-repeat left center transparent;
  -webkit-background-size: 0.3rem 0.3rem;
  background-size: 0.3rem 0.3rem;
  filter: drop-shadow(0px 10px 10px rgba(230, 133, 95, 0.36))
}
#index > li:nth-of-type(7) > .roots_open + a,
#index > li:nth-of-type(7) > .bottom_open + a,
#index > li:nth-of-type(7) > .center_open + a{
  background: url("./img/index07_active.png") no-repeat left center transparent;
  -webkit-background-size: 0.3rem 0.3rem;

  background-size: 0.3rem 0.3rem;
  filter: drop-shadow(0px 10px 10px rgba(230, 133, 95, 0.36))
}




#srcList_info {
  display: none;
}


.pagination li.active a{
  background: #3C95F8 !important;
}


div.dataTables_paginate{
  float: none;
}
div.dataTables_paginate {
  text-align: left;
}

#src-list .ue-btn{
  width: 68px;
  height: 32px;
  background: #ec3f17;
  color: #fff;
}

.btn>.fa{
  margin-right: 0;
}







#srcList th{
  background-color: #f4f7fa !important;
}
.even{
  background-color: #f4f7fa !important;
}
#srcList{
  border-collapse: collapse !important;
}
#srcList th,
#srcList td{
  border: 0.01rem solid #eee;

}


