/* 以下适配设置是针对本系统设置的特定值  不通用  */
@media screen and (width: 1200px) {
	html {
		font-size: 100px;
		min-width: 100%;
	}
}

@media screen and (min-width: 899px) {
	html {
		font-size: 74.96339678px !important;
	}
}

@media screen and (min-width: 1124px) {
	html {
		font-size: 93.70424597px !important;
	}
}

@media screen and (min-width: 1200px) {
	html {
		font-size: 100px !important;
	}
}

@media screen and (min-width: 1265px) {
	html {
		font-size: 105.41727672px !important;
	}
}

@media screen and (min-width: 1405px) {
	html {
		font-size: 117.13030747px !important
	}
}

@media screen and (min-width: 1686px) {
	html {
		font-size: 140.55636897px !important;
	}
}

@media screen and (min-width: 3373px) {
	html {
		font-size: 281.11273792px !important;
	}
}

html {
    width: 100%;
}

body {
	font-family: arial,microsoft yahei,simsun,simhei,sans-serif;
	font-size: 0.14rem;
    width: 100%;
    margin: 0;
	padding-bottom: 0.4rem;
}

* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
            margin: 0;
            padding: 0;
}

ul, li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}

::-webkit-scrollbar {/*������������ʽ*/
    width: 6px;     /*�߿��ֱ��Ӧ�����������ĳߴ�*/
    height: 1px;
}

::-webkit-scrollbar-thumb {/*����������С����*/
    border-radius: 5px;
    background: #ccc;
}

::-webkit-scrollbar-track {/*������������*/
    border-radius: 5px;
}
.container {
	width: 100%;
  	border: 1px solid #E1DFDA;
	border-top: 2px solid #024A84;
    padding: 0 0.46rem 0.4rem;
    overflow: hidden;
}

.crumbs {
	height: 0.46rem;
	line-height: 0.46rem;
	color: #A39F99;
	background: url(../../img/crumbs_bg.png) no-repeat;
	background-position: left center;
	padding-left: 0.24rem;
}

.crumbs span {
	color: #333;
}
.crumbs span.home{
	color: #A39F99;
	cursor: pointer;
}
.crumbs span.goback{
	color: #A39F99;
	cursor: pointer;
}
.border-group {
	margin-top: -2px;
}
.border1 {
	float:left; 
	width: 5%;
	border-top: 2px solid #FECB31;
	margin-left: -16px;
}
.border2 {
	float:left; 
	width: 5%;
	border-top: 2px solid #00CD64;
	margin-left: -16px;
}
.border3 {
	float:left; 
	width: 5%;
	border-top: 2px solid #418EE0;
	margin-left: -16px;
}

.info_title {
    height: 0.82rem;
    line-height: 0.82rem;
    font-size: 0.24rem;
    margin-top: 0.1rem;
    text-align: center;
}

.article_info {
    width: 100%;
    height: 0.5rem;
    line-height: 0.5rem;
    color: #666460;
    background-color: #F6F5F4;
    border-bottom: 1px dashed #D0CCC7;
	text-align: center;
}

.article_info > span {
    margin-left: 0.38rem;
}

.font_config {
    float: right;
}

.font_config span {
    cursor: pointer;
}

.font_config span.active,
.font_config span:hover {
    color: #FF4400;
}

.article_content {
    font-size: 0.16rem;
	font-family: microsoft yahei;
    line-height: 2;
    padding: 0.4rem 0 0.6rem;
    border-bottom: 1px dashed #D0CCC7;
}

.other_articales {
    font-size: 0.16rem;
    line-height: 2;
    padding-top: 0.4rem;
}